.titulo {
    padding-top: 25px;
    display: flex;
    align-items: center;

}

h3 {
    border: 1px solid black;
    border-radius: 75px;
    margin: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    
}