body {
    
    background-color: white;

}

#Foto-site {
    position: absolute;
    left: 75px;
    bottom: -80px;
    border: 8px solid white; 
    box-shadow: 1px 2px 4px olivedrab
    
}

nav#menu li:hover {
    background-color: yellow;

}

nav#menu li {
    display: inline-block;
    background-color: yellowgreen;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;

}

